
      <!-- Menu bar -->
      


  

    <div class="row-">
      <div class="col-md-10"> 
        <hr class="mb-4">
        <div class="row justify-content-center">
          <div class="col-md-10">
            
          
            <div class="card card-outline-secondary">
              
      <div class="card-body center  text-center  bg-warning " style="height:500px;border-radius:15px;">

        <div class="container py-3">
          <!-- nav bar Menu -->
          <div class="topnav" id="myTopnav">
               
            <a   href="#home" class="active">Home</a>
            <a href="#news">About</a>
            <a href="#contact">Service</a>
            <a href="#about">Contect</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div> 
          <img class="img" src="assets/logo.png" alt=" " width="50" height="50">
        <h1 style="color:rgb(233, 233, 242) " >SafetyHome</h1>
    
                  
                 <br>
                 <div class="align gap-4 col-4 mx-auto">
					<button class="btn  btn-success btn-lg float-center"   style="color:rgb(4, 4, 4)" type="button" >Get Started</button>
                    </div>
             
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                 

          
                  
                 