
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <img src="assets/logo.png" alt=" " width="50" height="50">
    <a class="navbar-brand" href="#">SafetHome</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
       
    </div>
</nav>
<!-- //card-body -->
<div class="container py-3">
    <div class="row-">
      <div class="col-md-12"> 
        	
        <hr class="mb-4">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <span class="anchor" id="formLogin"></span> 
						<!-- form card login -->
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0 text-center">Sign In</h3>
              </div>
              <div class="card-body">
                <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
              
                  
                  <div class="form-group">
                    <label>Email</label> 
					<input autocomplete="new-password" class="form-control" id="pwd1" required="" type="Email">
                  </div>
                  <div class="form-group">
                    <label>Password</label> 
					<input autocomplete="new-password" class="form-control" id="pwd1" required="" type="password">
                  </div>
                 
                 <br>
                 <div class="align gap-4 col-4 mx-auto">
					<button class="btn  btn-success btn-lg float-right"   style="color:rgb(4, 4, 4)" type="button" >Login</button>
                    </div>
                </form>